<div class="jumbotron">
    <h1 class="display-4">TypeScript app</h1>
    <p class="lead"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod aperiam accusantium optio quasi a ratione!</p>
    <a href="task/list" class="btn btn-primary btn-lg">Task List</a>
</div>