<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">


    <link rel="stylesheet" href="/css/main.css">
    <title>TS Crud</title>
</head>
<body>
    {{> navigation }}
    
    {{> alerts }}


      
    <div class="container p-4">
        {{{ body }}}
    </div>
    
      
</body>
</html>